.app {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.game {
  width: 300px;
  margin: 100px auto;

  ol {
    display: inline-block;
    vertical-align: top;

    li {
      cursor: pointer;
      font-size: 16px;

      &:hover {
        color: red
      }
    }
  }
}